.section {
    height: 100vh;
    width: 100vw;
    display: flex;
    scroll-snap-align: start;
    overflow: hidden;
}

.section .title{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    flex: 1;
    color: rgba(255, 255, 255, 0.608);
    transition: all .3s ease-in-out;
}

.section .body{
    flex: 10;

    position: relative; /* Set the positioning context for absolute positioning */
    height: 100%; /* Ensure the container takes up the full height */
    display: flex; /* Add display flex to control child elements */
    flex-direction: column; /* Arrange child elements vertically */
    justify-content: center; /* Center child elements along the main axis */
    align-items: center; /* Center child elements along the cross axis */

    flex-direction: row;

}