* { 
    margin : 0;
    padding: 0;
    box-sizing : border-box;
  }
  
  .container {
    flex: 8;
    position : relative;
    width : 100%;
    display : flex;
    align-items : center;
    justify-content : space-around;
    padding : 30px;  
  }
  
  .container .card {
    position: relative;
    max-width : 300px;
    height : 215px;  
    background-color : #fff;
    margin : 30px 10px;
    padding : 20px 15px;
    
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
  }
  .container .card:hover {
    height : 320px;    
  }
  
  
  .container .card .image {
    position : relative;
    width : 140px;
    height: auto;
    
    top : -40%;
    z-index : 1;
  }
  
  .container .card .image img {
    max-width : 100%;
    border-radius : 15px;
  }
  
  .container .card .content {
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    font-size: 1.2rem;
    
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
      
  }
  
  .container .card:hover .content {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
    
  }

  .sports{
    font-family: "Tourney", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    background-color: #15476e;
    display: flex;
    flex-direction: column;
    background: 
    linear-gradient(45deg, #000 25%, transparent 25%) 0 0,
    linear-gradient(-45deg, #000 25%, transparent 25%) 0 0,
    linear-gradient(45deg, transparent 75%, #000 75%) 0 0,
    linear-gradient(-45deg, transparent 75%, #000 75%) 0 0;
    background-size: 200px 200px; 

}

.sports .title{
    justify-content: flex-start;
    margin-top: 3rem;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.942);
    background-color: black;
    position: relative;
    width: 100%;
    flex: 1;
    padding: 2rem;
}
.sports .title h1{
    margin-block: 0;
}